{
    "install_url": "http://time.it:3000/",
    "listen_port": null,
    "unixSocketMode": "0777",
    "secret": "DO NOT FORGET YOUR SECRET HERE!!!",
    "log_format": "dev",
    "db": "mongodb://localhost/timeit",
    "staticFilesMaxAge": 2592000,
    "debug": false,
    "cache": {
        "backend": "db",
        "collection": "cache"
    },
    "auth": {
        "google": {
            "clientId": "GOOGLE CLIENT ID",
            "clientSecret": "GOOGLE CLIENT SECRET"
        },
        "twitter": {
            "consumerKey": "TWITTER CONSUMER KEY",
            "consumerSecret": "TWITTER CONSUMER SECRET"
        }
    }
}
