var config = {};

config.install_url = 'http://time.it:3000/';

config.secret = 'DO NOT FORGET YOUR SECRET HERE!!!';

config.log_format = 'dev';

config.mongo_db = 'timeit';
config.mongo_host = 'localhost';
config.mongo_port = require('mongodb').Connection.DEFAULT_PORT;

module.exports = config;
