{
    "install_url": "http://time.it:3000/",
    "listen_port": null,
    "secret": "DO NOT FORGET YOUR SECRET HERE!!!",
    "log_format": "dev",
    "mongo_db": "timeit",
    "mongo_host": "localhost",
    "staticFilesMaxAge": 2592000,
    "debug": false
}
