#messages {
    position: absolute;
    top: 80px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    z-index: 10;
}

#content {
    height: 100%;
    padding-top: 60px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: visible;
}
