/* === BODY === */
html, body {
    height: 100%;
}

div.ti-body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

span.ti-control {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

div.ti-control {
    vertical-align: middle;
    display: inline-block;
}

/* === BOOTSTRAP CUSTOMIZTION === */
.modal .form-horizontal {
    margin: 0;
}

.dropdown-menu {
    z-index: 1020;
}

.modal-open .dropdown-menu {
    z-index: 2070;
}

.large {
    font-size: 150%;
}

/* === VIEWS === */
.TrackerView {
    min-width: 220px;
    text-align: center;
}

.TrackerView .ti-set-activity {
    cursor: pointer;
}

.ActivityListView {
    cursor: default;
}

.ActivityListView a {
    cursor: pointer;
}

.DateRangePickerView .form-horizontal .control-label {
    width: 50px;
}

.DateRangePickerView .form-horizontal .controls {
    margin-left: 70px;
}

.DateRangePickerView h4 {
    text-align: center;
    margin: 1em 0;
}

.OverviewView {
    width: 640px;
}

.OverviewView .tab-content {
    height: 300px;
}

.TotalsView .ti-line {
    height: 20px;
    margin-bottom: 2px
}

.TotalsView .ti-caption {
    float: right;
    margin-right: 10px;
}

.TotalsView .ti-bar {
    height: 100%;
    width: 60%;
    float: right;
}

.TotalsView .ti-bar span {
    height: 100%;
    text-align: right;
    padding-right: 4px;
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color: #D4D3D2;
    cursor: pointer;
}

.TotalsView .ti-bar span.hover {
    background-color: #A8A7A7;
}

.TotalsView .ti-bar span.active {
    background-color: #08C;
}

.TotalsView .ti-bar span.active.hover {
    background-color: #78B0CC;
}

/* === OLD === */
.timeit-seltable {
    cursor: default;
}

.timeit-seltable a {
    cursor: pointer;
}
