/* === BODY === */
html, body {
    height: 100%;
}

div.ti-body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

span.ti-control {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

div.ti-control {
    vertical-align: middle;
    display: inline-block;
}

/* === BOOTSTRAP CUSTOMIZTION === */
.modal .form-horizontal {
    margin: 0;
}

.dropdown-menu {
    z-index: 1020;
}

.modal-open .dropdown-menu {
    z-index: 2070;
}

.large {
    font-size: 150%;
}

/* === VIEWS === */
.TrackerView {
    min-width: 220px;
    text-align: center;
}

.TrackerView .ti-set-activity {
    cursor: pointer;
}

.ActivityListView {
    cursor: default;
}

.ActivityListView a {
    cursor: pointer;
}

.DateRangePickerView .form-horizontal .control-label {
    width: 50px;
}

.DateRangePickerView .form-horizontal .controls {
    margin-left: 70px;
}

.DateRangePickerView h4 {
    text-align: center;
    margin: 1em 0;
}

.OverviewView {
    width: 640px;
}

.OverviewView .tab-content {
    height: 300px;
}

.StatsView {
    width: 640px;
    height: 300px;
    overflow-y: auto;
    padding-right: 20px;
}

.ti-bar-graph .ti-line {
    height: 20px;
    margin-bottom: 2px
}

.ti-bar-graph .ti-caption {
    width: 140px;
    text-align: right;
    float: left;
}

.ti-bar-graph .ti-caption + div {
    height: 100%;
    margin-left: 160px;
}

.ti-bar-graph .ti-bar {
    height: 100%;
}

.ti-bar-graph .ti-bar {
    position: relative;
}

.ti-bar-graph .ti-bar > * {
    position: absolute;
}

.ti-bar-graph .ti-bar .ti-single,
.ti-bar-graph .ti-bar .ti-double {
    height: 100%;
    text-align: right;
    cursor: pointer;
    background-color: #D4D3D2;
}

.ti-bar-graph .ti-bar .ti-single {
    -webkit-border-top-right-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
    -moz-border-radius-topright: 2px;
    -moz-border-radius-bottomright: 2px;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.ti-bar-graph .ti-bar .ti-double {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.ti-bar-graph .ti-bar .ti-tick {
    width: 1px;
    height: 100%;
    background-color: #888;
}

.ti-bar-graph .ti-bar .ti-active.hover {
    background-color: #A8A7A7;
}

.ti-bar-graph .ti-bar .ti-active.active {
    background-color: #08C;
}

.ti-bar-graph .ti-bar .ti-active.active.hover {
    background-color: #78B0CC;
}

/* === OLD === */
.timeit-seltable {
    cursor: default;
}

.timeit-seltable a {
    cursor: pointer;
}
