html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
}

span.timeit-control {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
}

div.timeit-control {
    vertical-align: middle;
    display: inline-block;
    text-align: left;
}

div.timeit-normal {
    text-align: left;
}

.row-template {
    display: none;
}

.timeit-tracker .timeit-now {
    cursor: pointer;
    text-align: center;
    position: relative;
}

.timeit-tracker .timeit-message {
    position: absolute;
    top: -50px;
    width: 100%;
    font-size: 150%;
}

.timeit-tracker .timeit-timer {
    font-size: 150%;
}

.timeit-seltable {
    cursor: default;
}

.timeit-seltable a {
    cursor: pointer;
}

.timeit-set-activity-form .dash {
    width: 1em;
}

#tools_div {
    position: absolute;
    right: 30px;
    top: 30px;
    margin: 0;
}

#version_div {
    color: #aaa;
    position: absolute;
    right: 30px;
    bottom: 30px;
}

#messages {
    position: absolute;
    top: 30px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    z-index: 10;
}

.modal .form-horizontal {
    margin: 0;
}
