<form class="form-horizontal">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3>Add Earlier Activity</h3>
    </div>
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">Activity</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Tags</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="tags">
                <p class="help-block">Add tags, separated by comma.</p>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Start time</label>
            <div class="controls">
                <input type="text" class="input-small" name="start_date">
                <input type="text" class="input-small" name="start_time">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">End time</label>
            <div class="controls">
                <input type="text" class="input-small" name="end_date">
                <input type="text" class="input-small" name="end_time">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a class="btn" data-dismiss="modal">Cancel</a>
        <button type="submit" class="btn btn-primary">Add activity</button>
    </div>
</form>
