<h1>TimeIt time tracker</h1>
<h2>Login with OpenID</h2>

<form class="form-inline" action="auth/login" method="get">
    <input type="text" name="openid" placeholder="OpenID identifier">
    <button type="submit" class="btn">Login</button>

    <a class="btn" href="auth/login?openid=https://www.google.com/accounts/o8/id"><img src="http://www.google.com/favicon.ico"></a>
    <a class="btn" href="auth/login?openid=http://www.myopenid.com/server"><img src="http://www.myopenid.com/favicon.ico"></a>
</form>
