<div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h3>Set activity</h3>
</div>

<form class="form-horizontal">
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label">Activity</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="name">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Tags</label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="tags">
                <p class="help-block">Add tags, separated by comma.</p>
            </div>
        </div>

        <h4>Today</h4>

        <table class="table timeit-seltable">
            <tbody>
                <tr class="row-template">
                    <td class="start_time"></td>
                    <td class="dash">-</td>
                    <td class="end_time"></td>
                    <td class="activity"></td>
                    <td class="tags"></td>
                    <td class="duration"></td>
                    <td><a class="edit" href="#">Edit</a></td>
                </tr>
            </tbody>
        </table>

        <div class="timeit-stats"></div>
    </div>
    <div class="modal-footer">
        <a class="btn btn-danger pull-left timeit-stop">Stop activity</a>
        <a class="btn" data-dismiss="modal">Cancel</a>
        <button type="submit" class="btn btn-primary">Set activity</button>
    </div>
</form>
