<!DOCTYPE html>
<html lang="<%- language %>">
    <head>
        <meta charset="utf-8">
        <title><%- __('Welcome') %> — TimeIt</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <%= asset('timeit.css') %>

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    </head>

    <body>
        <div class="ti-body">
            <span class="ti-control"></span>
            <div class="ti-control">
                <h1><%- __('Confirm registration') %></h1>
                <p><%- __('This will create new account. Do you really want it?') %></p>
                <form method="post" action="confirm">
                    <input type="hidden" name="_csrf" value="<%- _csrf %>">
                    <button type="submit" class="btn btn-primary"><%- __('Ok') %></button>
                    <a class="btn" href="auth/logout"><%- __('Cancel') %></a>
                </form>
            </div>
        </div>

        <div id="version_div">
            <%- __('version') %>: <span id="version">?</span>
        </div>

        <%= asset('timeit.js') %>
    </body>
</html>
