<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Welcome — TimeIt</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <%= asset('timeit.css') %>
        <%= asset('index.css') %>

        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="shortcut icon" href="ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="ico/apple-touch-icon-57-precomposed.png">
    </head>

    <body>
        <div class="ti-body">
            <span class="ti-control"></span>
            <div class="ti-control tabbable">
                <div class="tab-content">
                    <div class="tab-pane active" id="tracker"></div>
                    <div class="tab-pane" id="overview"></div>
                    <div class="tab-pane" id="stats"></div>
                </div>
            </div>
        </div>

        <div id="nav">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#tracker" data-toggle="tab">Tracker</a>
                </li>
                <li>
                    <a href="#overview" data-toggle="tab">Overview</a>
                </li>
                <li>
                    <a href="#stats" data-toggle="tab">Statistics</a>
                </li>
            </ul>
        </div>

        <div id="messages"></div>

        <div id="tools_div" class="btn-toolbar hide">
            <div class="btn-group">
                <a id="toggle_notify" class="btn">Notifications</a>
            </div>
        </div>

        <div id="version_div">
            version: <span id="version">?</span>
        </div>

        <%= asset('timeit.js') %>
        <%= asset('index.js') %>
    </body>
</html>
