<table class="table">
<% _.each(activities, function(activity) { %>
    <% if (activity.day) { %>
    <tr>
        <td colspan="<%- allowEdit ? 7 : 6 %>">
            <h4><%- activity.day %></h4>
        </td>
    </tr>
    <% } %>
    <tr>
        <td class="start_time"><%- activity.start_time %></td>
        <td class="dash">-</td>
        <td class="end_time"><%- activity.end_time %></td>
        <td class="activity"><%- activity.name %></td>
        <td class="tags"><%- activity.tags %></td>
        <td class="duration"><%- activity.duration %></td>
        <% if (allowEdit) { %>
        <td><a href="#" data-activity="<%- activity._id %>" class="edit"><%- __('Edit') %></a></td>
        <% } %>
    </tr>
<% }); %>
</table>
