<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">Day:</label>
        <div class="controls">
            <a href="#" class="ti-pick btn" data-pick="day"><%- day %></a>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Week:</label>
        <div class="controls">
            <a href="#" class="ti-pick btn" data-pick="week"><%- week %></a>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Month:</label>
        <div class="controls">
            <a href="#" class="ti-pick btn" data-pick="month"><%- month %></a>
        </div>
    </div>
    <hr>
    <h4>Range</h4>
    <div class="control-group">
        <label class="control-label">From:</label>
        <div class="controls">
            <input name="from" class="input-small" type="text" value="<%- from %>"><br>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">To:</label>
        <div class="controls">
            <input name="to" class="input-small" type="text" value="<%- to %>">
        </div>
    <div class="control-group">
    </div>
        <div class="controls">
            <button class="ti-range btn">Apply</button>
        </div>
    </div>
</form>
