<form class="form-search pull-right">
    <img class="ti-preloader" src="img/preloader24.gif">
    <input type="text" class="input-medium search-query" placeholder="Search activity, tags">
</form>

<div>
    <span class="btn-group">
        <a href="#" class="ti-back btn"><i class="icon-chevron-left"></i></a>
        <a href="#" class="ti-home btn"><i class="icon-home"></i></a>
        <a href="#" class="ti-forward btn"><i class="icon-chevron-right"></i></a>
    </span>

    <a href="#" class="ti-date btn"><span class="ti-txt"></span> <span class="caret"></span></a>
</div>

<div class="ti-timeline"></div>

<div class="tabbable tabs-below">
    <div class="tab-content">
        <div class="ti-activities tab-pane active" id="activities_tab">
        </div>
        <div class="ti-totals tab-pane" id="totals_tab">
        </div>
    </div>
    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#activities_tab" data-toggle="tab">Activities</a>
        </li>
        <li>
            <a href="#totals_tab" data-toggle="tab">Totals</a>
        </li>
    </ul>
</div>
