<p>
    There are <b><%- count %></b> records.<br>
    <b><%- total.hours %></b> hours tracked total.<br>
    Longest continuous work happened on <%- longest.activity.date %> and was <b><%- longest.duration.hours %></b> hours.<br>
    First activity was recorded on <b><%- first.date %></b>.
</p>

<h4>Days</h4>
<%= include('stats_bars.html', {container: weekday, max: weekdayMax}) %>

<h4>Activities</h4>
<%= include('stats_bars.html', {container: activity, max: activityMax}) %>

<h4>Tags</h4>
<%= include('stats_bars.html', {container: tag, max: tagMax}) %>
