<p>
    <%= __n('There is <b>one</b> record.', 'There are <b>{0}</b> records.', count) %><br>
    <%= __n('<b>One</b> hour tracked total.', '<b>{0}</b> hours tracked total.', total.hours) %><br>
    <%= __('Longest continuous work happened on {0} ', longest.activity.date)+
    __n('and was one hour.', 'and was <b>{0}</b> hours.', longest.duration.hours) %><br>
    <%= __('First activity was recorded on <b>{0}</b>', first.date) %>.
</p>

<h4><%- __('Days') %></h4>
<%= include('stats_bars.html', {container: weekday, max: weekdayMax}) %>

<h4><%- __('Activities') %></h4>
<%= include('stats_bars.html', {container: activity, max: activityMax}) %>

<h4><%- __('Tags') %></h4>
<%= include('stats_bars.html', {container: tag, max: tagMax}) %>
