<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label"><%- __('Day:') %></label>
        <div class="controls">
            <a href="#" class="ti-pick btn" data-pick="day"><%- day %></a>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%- __('Week:') %></label>
        <div class="controls">
            <a href="#" class="ti-pick btn" data-pick="week"><%- week %></a>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%- __('Month:') %></label>
        <div class="controls">
            <a href="#" class="ti-pick btn" data-pick="month"><%- month %></a>
        </div>
    </div>
    <hr>
    <h4><%- __('Range') %></h4>
    <div class="control-group">
        <label class="control-label"><%- __('From:') %></label>
        <div class="controls">
            <input name="from" class="input-small" type="text" value="<%- from %>"><br>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%- __('To:') %></label>
        <div class="controls">
            <input name="to" class="input-small" type="text" value="<%- to %>">
        </div>
    <div class="control-group">
    </div>
        <div class="controls">
            <button class="ti-range btn"><%- __('Apply') %></button>
        </div>
    </div>
</form>
