<div class="modal-header">
    <% if (this.modal) { %>
    <button class="close" data-dismiss="modal">×</button>
    <% } %>
    <h3><%- __('Edit group of activities') %></h3>
</div>

<form class="form-horizontal">
    <div class="modal-body">
        <div class="control-group">
            <label class="control-label"><%- __('Activity') %></label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="name" value="<%- name %>">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label"><%- __('Tags') %></label>
            <div class="controls">
                <input type="text" class="input-xlarge" name="tags" value="<%- tags %>">
                <p class="help-block"><%- __('Tags, separated by comma.') %></p>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <a class="btn ti-cancel" href="#"><%- __('Cancel') %></a>
        <button type="submit" class="btn btn-primary"><%- __('Update') %></button>
    </div>
</form>
