<h3><%- __('Set activity') %></h3>
<hr>

<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label"><%- __('Activity') %></label>
        <div class="controls">
            <input type="text" class="input-xlarge" name="name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label"><%- __('Tags') %></label>
        <div class="controls">
            <input type="text" class="input-xlarge" name="tags">
            <p class="help-block"><%- __('Add tags, separated by comma.') %></p>
        </div>
    </div>

    <div class="ti-recent"></div>

    <div class="modal-footer">
        <% if (showStop) { %>
        <a class="btn btn-danger pull-left ti-stop" href="#"><%- __('Stop activity') %></a>
        <% } %>
        <a class="btn ti-cancel" href="#"><%- __('Cancel') %></a>
        <button type="submit" class="btn btn-primary"><%- __('Set activity') %></button>
    </div>
</form>
